body {
  margin: 0;
  padding: 0;
  background-color: #E6E7E9;
  
  user-select: none;
}

:root{
  --logoFont: 'Staatliches', cursive;
  --primaryFont: 'Roboto Condensed', sans-serif;
  --highlightColor: #f3dec7;
  --highlightColorDarker: #9e8468;
  --fundo: white;
}