*{
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  background-color: #E6E7E9;
  user-select: none;
  width: 100vw;
  box-sizing: border-box;
  
}

#root{
  width: 100vw;
  height: 100vh;
}
:root{
  --logoFont: 'Staatliches', cursive;
  --primaryFont: 'Roboto Condensed', sans-serif;
  --highlightColor: #f3dec7;
  --highlightColorDarker: #9e8468;
  --fundo: rgb(252, 252, 252);
}
a:link {
  text-decoration: none;
  color: var(--secondaryColor);
}
a:-webkit-any-link {
  color: black;
  cursor: pointer;
}
/* ::-webkit-scrollbar {
  display: none;
} */